<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sf="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Створення класу</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="headerContent">
            <div class="logo"><a th:href="@{/}">Щоден<span class="pink">ник</span><span class="gray">.com</span></a>
            </div>
            <ul class="nav h-menu">
                <li><a href="">Користувачі</a>
                    <ul>
                        <li><a th:href="@{/userRegistration}">Реєстрація користувачів</a></li>
                        <li><a href="">Редагування користувачів</a></li>
                        <li><a href="@{/setStudentToBand}">Додавання студентів в групу</a></li>
                    </ul>
                </li>
                <li><a href="" class="active">Класи</a>
                    <ul>
                        <li><a th:href="@{/bandRegistration}" class="active">Створення класів</a></li>
                        <li><a href="">Редагування класів</a></li>
                        <li><a th:href="@{/setSubjectToBand}">Додавання предметів</a></li>
                    </ul>
                </li>
                <li><a href="">Предмети</a>
                    <ul>
                        <li><a th:href="@{/subjectRegistration}">Створення предметів</a></li>
                        <li><a href="">Редагування предметів</a></li>
                        <li><a th:href="@{/setTeacherToSubject}">Додавання вчителів</a></li>
                    </ul>
                </li>
                <li><a href="">Розклад</a>
                    <ul>
                        <li><a href="">Створення розкладу</a></li>
                        <li><a href="">Редагування розкладу</a></li>
                    </ul>
                </li>
                <li><a href="">Статистика</a></li>
                <li><a href="">Хто залоганий</a>
                    <ul>
                        <li><a href="">Особистий кабінет</a></li>
                        <li><a href="">Повернення на сторінку вчителя</a></li>
                        <li><a href="">Вийти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <form th:action="@{/saveBand}" method="post" th:object="${band}">
        <div class="row">
            <h1>
                <label>Створення класу<br/>
                    <input type="text" th:field="*{name}" placeholder="Назва класу"/>
                    <button type="submit">Створити</button>
                </label>
                <h3 th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errors"/>
            </h1>
        </div>
    </form>
</div>

<div th:replace="fragments/styles::main"/>
<div th:replace="fragments/styles::dropDownMenu"/>
<script type="text/javascript" th:src="@{../js/css3-mediaqueries.js}"></script>
</body>
</html>