<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Головна сторінка</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="headerContent">
            <div class="logo"><a th:href="@{/}">Щоден<span class="pink">ник</span><span class="gray">.com</span></a>
            </div>
            <ul class="nav h-menu">
                <li><a href="#">Про проект</a></li>
                <li><a href="#">Як зареєструватись</a></li>
                <li><a href="#">Контакти</a></li>
                <li th:if="${#request.getUserPrincipal() == null}">
                    <a id="showModalElement">Увійти</a>
                </li>
                <li th:if="${#request.getUserPrincipal() != null}">
                    <a th:text="${#request.getUserPrincipal().name}"></a>
                    <ul>
                        <li>
                            <a th:each="authority : ${#request.getUserPrincipal().getAuthorities()}"
                               th:href="${authority.getAuthority()} == 'ROLE_STUDENT' ? @{/student} : @{/teacher}">Особистий кабінет</a>
                        </li>
                        <li><a th:href="@{/logout}">Вийти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Вхід в щоденник</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label>
                                <h1>Електронна адреса</h1>
                                <input type="text" class="login" th:name="email" placeholder="email" required/>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <h1>Пароль</h1>
                                <input type="password" class="login" th:name="password" placeholder="password"
                                       required/>
                            </label>
                        </div>
                        <h2 th:if="${loginError}" class="errors" style="width: 450px">Невірний емейл або пароль</h2>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                    </div>
                    <div class="modal-footer">
                        <label class="label-right">
                            <input type="checkbox" th:name="remember-me"/>
                            <span style="font-size: 15px">Запам’ятати мене</span>
                        </label>
                        <button type="button" data-dismiss="modal">Закрити</button>
                        <button type="submit" id="loginButton">Увійти</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div th:replace="fragments/styles::modal"/>
<div th:replace="fragments/styles::main"/>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    const $LOGIN_MODAL = $('#loginModal');
    const $SHOW_MODAL_ELEMENT = $('#showModalElement');

    function init() {
        $LOGIN_MODAL.modal({'show': false});

        $SHOW_MODAL_ELEMENT.on('click', function () {
            $LOGIN_MODAL.modal('show');
        });

        if ($(location).attr('href').includes('login-error')) {
            $LOGIN_MODAL.modal('show');
        }
    }

    $(document).ready(init);
</script>
</body>
</html>