<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Головна сторінка</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="headerContent">
            <div class="logo"><a href="">Щоден<span class="pink">ник</span><span class="gray">.com</span></a></div>
            <ul class="nav h-menu">
                <li><a href="#" class="active">Головна</a>
                    <ul>
                        <li><a href="">Обогреватели для быта</a></li>
                        <li><a href="">Обогреватели для строительства</a></li>
                        <li><a href="">Промышленные обогреватели</a></li>
                        <li><a href="">Обогреватели</a></li>
                        <li><a href="">Для сельского хозяйства</a></li>
                    </ul>
                </li>
                <li><a href="#">Про проект</a>
                    <ul>
                        <li><a href="">Обогреватели для быта</a></li>
                        <li><a href="">Обогреватели для строительства</a></li>
                        <li><a href="">Промышленные обогреватели</a></li>
                        <li><a href="">Обогреватели</a></li>
                        <li><a href="">Для сельского хозяйства</a></li>
                    </ul>
                </li>
                <li><a href="#">Як зареєструватись</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </div>
    </div>
    <h1>Content індекс</h1>


    <a th:href="@{/student}">student page</a><br>
    <a th:href="@{/teacher}">teacher page</a><br>
    <a th:href="@{/admin}">admin page</a><br>
</div>


<div th:replace="fragments/styles::main"/>
<div th:replace="fragments/styles::dropDownMenu"/>
<script type="text/javascript" th:src="@{/js/css3-mediaqueries.js}"/>
</body>
</html>