<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:p="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
index page

<!--<form action="/start" method="post">-->
<!--<input type="text" name="nameOfGroup" placeholder="nameOfGroup">-->
<!--<input type="text" name="name" placeholder="name">-->
<!--<input type="text" name="surname" placeholder="surname">-->
<!--<input type="submit">-->
<!--</form>-->

<form action="/createGroup" method="post">
    <input type="text" name="nameOfGroup" placeholder="nameOfGroup"/>
    <input type="submit"/>
</form>
<br/>
<br/>
<br/>
<!--<ul>-->
    <!--<li th:each="temp:${key}" th:text="${temp.nameOfGroup}"/>-->
    <!--<ul/>-->
    <br/>

    <form th:action="@{/insert}" method="post">
        <select name="idOfGroup">
            <option th:each="temp:${key}"
                    th:text="${temp.nameOfGroup}"
                    th:value="${temp.id}"/>

        </select>

        <input type="text" name="name" placeholder="name"/>
        <input type="text" name="surname" placeholder="surname"/>
        <input type="submit" value="asd"/>

    </form>


</body>
</html>