<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Редагування предметів</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="headerContent">
            <div class="logo"><a th:href="@{/}">Щоден<span class="pink">ник</span><span class="gray">.com</span></a>
            </div>
            <ul class="nav h-menu">
                <li><a href="">Користувачі</a>
                    <ul>
                        <li><a th:href="@{/userRegistration}">Реєстрація користувачів</a></li>
                        <li><a href="">Редагування користувачів</a></li>
                        <li><a th:href="@{/setStudentToBand}">Додавання студентів в групу</a></li>
                    </ul>
                </li>
                <li><a href="">Класи</a>
                    <ul>
                        <li><a th:href="@{/bandCreation}">Створення класів</a></li>
                        <li><a th:href="@{/bandEditing}">Редагування класів</a></li>
                        <li><a th:href="@{/setSubjectToBand}">Додавання предметів</a></li>
                    </ul>
                </li>
                <li><a href="">Предмети</a>
                    <ul>
                        <li><a th:href="@{/subjectCreation}">Створення предметів</a></li>
                        <li><a th:href="@{/subjectEditing}" class="active">Редагування предметів</a></li>
                        <li><a th:href="@{/setTeacherToSubject}">Додавання вчителів</a></li>
                    </ul>
                </li>
                <li><a href="">Розклад</a>
                    <ul>
                        <li><a th:href="@{/scheduleCreation}">Створення розкладу</a></li>
                        <li><a th:href="@{/scheduleEditing}">Редагування розкладу</a></li>
                    </ul>
                </li>
                <li><a href="">Статистика</a></li>
                <li><a href="">Хто залоганий</a>
                    <ul>
                        <li><a href="">Особистий кабінет</a></li>
                        <li><a href="">Повернення на сторінку вчителя</a></li>
                        <li><a href="">Вийти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h1>
            <label>Предмет
                <select name="subjectId">
                    <option value="">-- Оберіть предмет --</option>
                    <option th:each="subjects : ${allSubject}" th:text="${subjects.name}"
                            th:value="${subjects.id}"></option>
                </select>
                <button type="button" id="showModalButton">
                    Редагувати
                </button>
            </label>
            <h3 id="subjectSelectError" class="errors hideError">Оберіть предмет</h3>
        </h1>
    </div>

    <div class="modal fade" id="subjectEditingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Редагування предмету</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <h2 class="inline" data-container="subject-name"></h2>
                        <input type="text" data-container="subject-name" placeholder="Нова назва"/>
                    </div>
                    <div class="mobile">
                        <table class="bordered">
                            <thead>
                            <tr>
                                <th>Класи</th>
                                <th>Вчителі</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td data-container="subject-bandList"></td>
                                <td data-container="subject-teacherList"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal">Закрити</button>
                    <button type="button" id="saveButton">Зберегти зміни</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/styles::modal"/>
<div th:replace="fragments/styles::main"/>
<script type="text/javascript" th:src="@{../js/css3-mediaqueries.js}"></script>
<script type="text/javascript" th:src="@{../js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{../js/subjectEditing.js}"></script>
</body>
</html>