<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Teacher page</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="headerContent">
            <div class="logo"><a th:href="@{/}">Щоден<span class="pink">ник</span><span class="gray">.com</span></a></div>
            <ul class="nav h-menu">
                <li><a href="#">Розклад</a>
                    <ul>
                        <li><a href="">Поточний день</a></li>
                        <li><a href="">Загальний</a></li>
                    </ul>
                </li>
                <li><a href="#">Класи</a></li>
                <li><a href="#">Вчительська</a></li>
                <li th:each="authority : ${principal.getAuthorities()}"
                    th:if="${authority.getAuthority()} == 'ROLE_ADMIN'" >
                    <a th:href="@{/admin}">Управління</a>
                </li>
                <li><a th:text="${#request.getUserPrincipal().name}"></a>
                    <ul>
                        <li><a href="">Налаштування</a></li>
                        <li><a th:href="@{/logout}">Вийти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <h1>Сторінка вчителя</h1>
</div>


<div th:replace="fragments/styles::main"/>
<script type="text/javascript" th:src="@{../js/css3-mediaqueries.js}"></script>
</body>
</html>