<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Загальний розклад вчителів</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="headerContent">
            <div class="logo"><a th:href="@{/}">Щоден<span class="pink">ник</span><span class="gray">.com</span></a>
            </div>
            <ul class="nav h-menu">
                <li><a href="#">Розклад</a>
                    <ul>
                        <li><a th:href="@{/teacher/scheduleReview}">Поточний</a></li>
                        <li>
                            <a>Загальний</a>
                            <ul>
                                <li><a th:href="@{/teacher/scheduleBandsGeneralReview}">Класи</a></li>
                                <li><a th:href="@{/teacher/scheduleTeachersGeneralReview}" class="active">Вчителі</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a>Журнал</a>
                    <ul>
                        <li th:each="element : ${journalNavigationSubjectAndBand}">
                            <a th:text="${element.key.name}"></a>
                            <ul th:with="calendar=${#calendars.createNow()}">
                                <li th:each="band : ${element.value}" th:if="${band} != null">
                                    <a class="nobr" th:text="${band.name}"
                                       th:href="@{/teacher/journalEditing-{subjectId}-{bandId}-{monthIndex}
                                    (subjectId = ${element.key.id},
                                    bandId = ${band.id},
                                    monthIndex = ${#calendars.month(calendar)})}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li th:each="authority : ${#request.getUserPrincipal().getAuthorities()}"
                    th:if="${authority.getAuthority()} == 'ROLE_ADMIN'">
                    <a th:href="@{/admin}">Управління</a>
                </li>
                <li><a th:text="${#request.getUserPrincipal().name}"></a>
                    <ul>
                        <li><a th:href="@{/teacher/settings}">Налаштування</a></li>
                        <li><a th:href="@{/logout}">Вийти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <label class="label-right"><span class="font-20">Вчитель</span>
            <select id="select">
                <option value="">-- Оберіть вчителя --</option>
                <option th:each="teacher : ${allTeachers}" th:text="${teacher.surname} + ' ' + ${teacher.name}"
                        th:value="${teacher.id}"></option>
            </select>
        </label>

        <div class="date-holder">
            <input type="text" id="date-picker" value="Оберіть дату">
            <div id="scheduleGeneralReview" class="cal2"></div>
        </div>
    </div>

    <div id="scheduleGeneralReviewContent"></div>
</div>


<div th:replace="fragments/styles::main"/>
<div th:replace="fragments/styles::calendar"/>
<script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
<script type="text/javascript" th:src="@{/js/underscore.js}"></script>
<script type="text/javascript" th:src="@{/js/clndr.js}"></script>
<script type="text/javascript" th:src="@{/js/scheduleGeneralReview.js}"></script>
</body>
</html>